body {
    display: flex;
    flex-direction: column;
    color:rgb(52, 31, 31);
}
main {
    display: flex;
    flex: auto;
    flex-direction: row;
}
article {
    flex: 2;
    flex-direction: row;
    overflow-y: auto;
}
aside {
    flex: 1;
    flex-direction: row;
    overflow-y: auto;
}
h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.one {
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
}